{{#extends 'base'}}

{{#block 'content'}}

<div class="row mb-4 position-relative">
    <h1 class="display-4">Admin Page</h1>
    <div class="col-12 py-1 bg-dark position-absolute bottom-0 divider"></div>
</div>

<div class="row pt-2">
    <div class="col-12 col-md-6 col-xl-3">
        <div class="bg-white p-1">
            <ul class="nav nav-pills nav-fill justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/orders">Orders</a>
                </li>
                {{#IsAdmin user}}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/accounts">Accounts</a>
                </li>
                {{/IsAdmin}}
            </ul>
        </div>
    </div>
</div>

<div class="row pt-4">
    <div class="col-12 col-lg-10 mx-auto p-0">
        <ul class="list-group">
            {{#each orders}}
            <li class="list-group-item">
                <div class="card w-100">
                    <h5 class="card-header bg-secondary text-white">
                        Order #{{this.id}}
                    </h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-6">
                                <form method="POST" action="/admin/orders/{{this.id}}/update">
                                    <input type="hidden" name="_csrf" value="{{../csrfToken}}"/>
                                    <div class="row mb-2">
                                        <div class="col-auto"><label class="fw-bold">Order Status</label></div>
                                        <div class="col-auto">
                                            <select class="form-select form-select-sm" name="status_id">
                                                {{#each ../orderStatus}}
                                                    {{option id status ../status_id}}
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="col-auto">
                                            <input type="submit" value="Update" class="btn btn-primary btn-sm"/>
                                        </div>
                                        <div class="col-auto">
                                            <a href="#" class="btn btn-danger btn-sm">Delete</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="firstName" class="col-6 col-lg-3 col-form-label fw-bold">First Name</label>
                                        <div class="col-6 col-lg-9">
                                            <input type="text" class="form-control-plaintext" id="firstName" value="{{this.user.first_name}}" disabled readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="lastName" class="col-6 col-lg-3 col-form-label fw-bold">Last Name</label>
                                        <div class="col-6 col-lg-9">
                                            <input type="text" class="form-control-plaintext" id="lastName" value="{{this.user.last_name}}" disabled readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="email" class="col-6 col-lg-3 col-form-label fw-bold">Email</label>
                                        <div class="col-6 col-lg-9">
                                            <input type="text" class="form-control-plaintext" id="email" value="{{this.user.email}}" disabled readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="contact" class="col-6 col-lg-3 col-form-label fw-bold">Contact</label>
                                        <div class="col-6 col-lg-9">
                                            <input type="text" class="form-control-plaintext" id="contact" value="{{this.user.contact}}" disabled readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="orderDate" class="col-6 col-lg-3 col-form-label fw-bold">Order Date</label>
                                        <div class="col-6 col-lg-9">
                                            <input type="text" class="form-control-plaintext" id="orderDate" value="{{formatDate this.order_date}}" disabled readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="deliveryDate" class="col-6 col-lg-3 col-form-label fw-bold">Delivery Date</label>
                                        <div class="col-6 col-lg-9">
                                            <input type="text" class="form-control-plaintext" id="deliveryDate" value="{{formatDate this.delivery_date}}" disabled readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="address" class="col-6 col-lg-3 col-form-label fw-bold">Delivery Address</label>
                                        <div class="col-6 col-lg-9">
                                            <input type="text" class="form-control-plaintext" id="address" value="{{this.address}}" disabled readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="postalCode" class="col-6 col-lg-3 col-form-label fw-bold">Postal Code</label>
                                        <div class="col-6 col-lg-9">
                                            <input type="text" class="form-control-plaintext" id="postalCode" value="{{this.postal_code}}" disabled readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="totalAmt" class="col-6 col-lg-3 col-form-label fw-bold">Total Amount</label>
                                        <div class="col-6 col-lg-9">
                                            <input type="text" class="form-control-plaintext" id="totalAmt" value="${{calcPrice this.total_amt}}" disabled readonly>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xl-6">
                                <table class="table border border-dark mt-4">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Product</th>
                                            <th>Size</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each this.orderitems}}
                                        <tr>
                                            <td>{{retIndex @index}}</td>
                                            <td>{{product.name}}</td>
                                            <td>{{retSize price.size}}</td>
                                            <td>{{quantity}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

{{/block}}

{{/extends}}