{{#extends "base"}}

{{#block "content"}}

<div class="row mb-4 position-relative">
    <h1 class="display-4">What's New</h1>
    <div class="col-12 py-1 bg-dark position-absolute bottom-0 divider"></div>
</div>

<div class="row">
    <div class="col-10 col-lg-8 mx-auto navbar-color">
        <div id="carouselDisplay" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselDisplay" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselDisplay" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselDisplay" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                {{#each products}}
                    {{#if @first}}
                    <div class="carousel-item active" data-bs-interval="8000">
                        <div class="container">
                            <img src="{{this.image_url}}" class="d-block w-50 mx-auto" alt="display-img" onerror=this.src="/img/ice-cream-icon-alt.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h4>{{this.name}}</h4>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="carousel-item" data-bs-interval="8000">
                        <div class="container">
                            <img src="{{this.image_url}}" class="d-block w-50 mx-auto" alt="display-img" onerror=this.src="/img/ice-cream-icon-alt.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h4>{{this.name}}</h4>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                {{/each}}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselDisplay" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselDisplay" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="mt-3 text-center ">
    <h1>Welcome to a world of flavours</h1>
    <div class="d-grid col-4 col-md-2 mx-auto my-3">
        <a class="btn btn-success" role="button" href="/products/all-products">Shop Now</a>
    </div>
</div>

{{/block}}

{{/extends}}