{{#extends 'base'}}

{{#block 'content'}}

<div class="row mb-4 position-relative">
    <div class="col-10">
        <h1 class="display-4">{{page}}</h1>
        <div class="col-12 py-1 bg-dark position-absolute bottom-0 divider"></div>
    </div>
    {{#IsManager user}}
    <div class="col-2 align-self-center">
        <a class="btn btn-primary" href="/products/create">Create Product</a>
    </div>
    {{/IsManager}}
</div>

<div class="row mb-5">
    <div class="col-12 col-lg-6 mx-auto">
        <label class="form-label fw-bold">Search {{page}}:</label>
        <form method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
            {{{form}}}
        </form>
    </div>
</div>

{{#if isSearch}}
<div class="row mb-4">
    <div class="col">
        <h5>{{products.length}} item(s) found:</h5>
    </div>
</div>
{{/if}}

<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
    {{#each products}}
    <div class="col">
        <a href="/products/{{this.id}}/details" class="text-decoration-none">
            <div class="card text-center text-primary h-100 border-light navbar-color">
                <img src="{{this.image_url}}" class="card-img-top" alt="display-img" onerror=this.src="/img/ice-cream-icon-alt.jpg">
                <div class="card-body text-white">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text fw-bold">${{calcPrice this.prices.0.cost}}</p>
                </div>
            </div>
        </a>
    </div>
    {{/each}}
</div>

{{/block}}

{{/extends}}